* { 
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
#wrapper {
  margin: 0 auto;
  width: 960px;
}
path {
  stroke-linejoin: round;
}
.axis path, .axis line {
  fill: none;
  stroke: #909090;
  shape-renderering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 100;
  stroke: #909090;
}
.land-glow {
  fill-opacity: .2;
  filter: url(#blur);
}
.land-fill {
  fill: #fff;
}
.state-boundary {
  fill: none;
  stroke-width: 1px;
}
.land-fill, .state-boundary {
  stroke: #777;
  stroke-width: .4px;
}

/* color brewer, 7 class sequential reds */
.q0-7 { fill: #fee5d9; }
.q1-7 { fill: #fcbba1; }
.q2-7 { fill: #fc9272; }
.q3-7 { fill: #fb6a4a; }
.q4-7 { fill: #ef3b2c; }
.q5-7 { fill: #cb181d; }
.q6-7 { fill: #99000d; }
.q-na { fill: #aaa; }

#year, #description, #credits, #credits a {
  color: #909090;
}
#year { 
  font-size: 5em;
  margin: 0 0 -0.5em 0;
  text-align: center;
  width: 100%;
}
#controls {
  margin: 1em 0 0 0;
}
#description, input[type=range], #credits {
  margin: 0 auto;
  width: 700px;
}
#credits {
  margin: 3em auto 0 auto;
}
#tip {
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(124, 124, 124, 0.75);
  color: #909090;
  display: none;
  left: 0;
  padding: 0.25em;
  position: absolute;
  text-align: center;
  top: 0;
  width: auto;
}
input[type=range] {
  display: block;
  margin: 2em auto -2em auto;
  position: relative;
}

/* Flatten the slider */
input[type=range]{
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #909090;
  margin-top: -8px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/* Style text and slider for iOS devices */
@media 
screen and (device-aspect-ratio: 2/3),
screen and (device-aspect-ratio: 40/71), 
screen and (device-aspect-ratio: 3/4) { 
  #description {
    font-size: 2em;
    margin: 0 auto 2em auto;
  }
#credits {
  margin: 5em auto 0 auto;
}
  input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #909090;
    margin-top: -26px;
  }
}
